{% extends "mainapp/head.html"%}

<body>
{% block content %}

<div class='row'>
  {% for n in News%}
	
  <div class="col s12 m7 l12">

    <div class="card-title" height="10">
      <h3 class="header">{{ n.title }}</h3>
    </div>

    <div class="card horizontal" height="200">

      <div class="card-image">
        {% if n.image%}
          <img src="{{n.image.url}}">
        {%endif%}
      </div>

      <div class="card-stacked">
        <div class="card-content">
          <p>{{ n.text|safe|truncatewords:26}}...</p>
        </div>

        <div class="card-action">
          <a href="/{{n.urls_slung}}">Read more</a>
        </div>

      </div>

      </div>

  </div>

  {% endfor %}
</div>

{%endblock%}
{#<div class="sunny"></div>#}

</body>